<div class=main-login-ctn>
  <div class=title-ctn>
    <h3>Identifiez-vous avec votre compte ORA</h3>
  </div>

  <div card-ctn>
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Identifiant" type="text" autocomplete="off">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Mot de passe" type="password" autocomplete="off">
      </mat-form-field>
    </mat-card>
  </div>

  <div class=btn-container>
    <button mat-raised-button color="primary" (click)="goHome()">Se connecter</button>
  </div>
</div>