@import '~@angular/material/theming';

@include mat-core();

$primary:mat-palette($mat-blue,700);
$accent: mat-palette($mat-orange,200);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);


// design du checkbox


.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background { 
    background-color: var(--main-color) !important; 
} 

.mat-ripple-element { 
    background: rgba(25, 118, 210, .4) !important; 
} 









