<!-- on va toujours afficher le chemin de retour -->
<div class="path-nav">
  <a routerLink="/">Changer d'utilisateur /</a>
</div>


<div class=main-home-ctn>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Accueil</h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class=list-ctn>

        <div class="row-ctn">
          <a routerLink="/authentification">Authentification</a>
        </div>

        <div class="row-ctn">
          <a routerLink="/filterquestions">Générer un questionnaire</a>
        </div>

        <div class="row-ctn">
          <a routerLink="/proposerquestion">Proposer une question</a>
        </div>

        <div class="row-ctn">
          <a routerLink="/validerQuestion">Valider les questions proposées</a>
        </div>
        
        <div class="row-ctn">
          <a routerLink="/creerProfil">Créer un profile</a>
        </div>
        
        <!-- <div class="row-ctn">
          <a routerLink="/criteresPersonnalite">Critères de personnalité</a>
        </div> -->

      </div>
    </mat-card-content>

  </mat-card>

</div>